body{
    background-color: Grey;
}
.h1{
    text-transform: uppercase;
    font-size: 3rem; ;
}
.poster{
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
    font-family: 'liber baskerville ';
    color: aliceblue;
    text-align: center;
}
.Mov-img{
    border: 10px solid white;
    width: 100%;
}
